:root {
    --black: rgb(20, 20, 20);
}

input {
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 4px;
}

input:focus-visible {
    outline: auto 1px var(--black);
}

label {
    background-color: var(--black);
    color: white;
    text-transform: uppercase;
    width: 81px;
    padding: 10px;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    justify-content: left;
    border-radius: 0 4px 0 0;
}

.textInput {
    border-top: 2px solid var(--black);
    font-size: 24px;
}

.formButton {
    cursor: pointer;
    background-color: var(--black);
    color: white;
}

.formButton:hover {
    cursor: pointer;
    background-color: white;
    color: var(--black);
    transition: background-color 0.3s;
    border: 2px solid var(--black);
}