:root {
  --black: rgb(20, 20, 20);
  scrollbar-width: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

h1 {
  margin-top: 25px;
  line-height: 52px;
}

h2 {
  margin-top: 25px;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  margin-top: 25px;
  font-weight: 700;
  line-height: 25px;
}

p {
  margin-top: 10px;
  font-size: 14px;
}

/* prettier-ignore
//////////////////////////////
        Util Classes
////////////////////////////// 
*/

.error {
  color: red;
}

.center {
  justify-content: center;
}

.margin-t20 {
  margin-top: 20px;
}

/* prettier-ignore
//////////////////////////////
       Util Classes End
////////////////////////////// 
*/

/* Nav Bar Classes */

.navCont {
  height: 40px;
  border-top: 5px solid var(--black);
}

.navButtons {
  padding-top: 5px;
  text-align: center;
  background-color: var(--black);
  color: white;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  border: none;
  border-radius: 0 0 8px 0;
  text-transform: uppercase;
}

.navButtons:hover {
  background-color: white;
  color: var(--black);
  transition: background-color 0.3s;
  border: 2px solid var(--black);
  border-top: 0;
}

.logo {
  font-size: 2rem;
  margin-top: 0;
}

/* Article classes */

.story {
  margin-bottom: 10px;
}

.artLink:hover {
  text-decoration: underline;
}

.nameDate {
  display: flex;
}

.name p {
  font-weight: 700;
  font-size: 14px;
}

.date {
  font-weight: 300;
  font-size: 12px;
}

/* Category banner classes */

.banner {
  background-color: var(--black);
  height: 2px;
}

.category {
  width: 81px;
  color: white;
  font-weight: 600;
  font-style: normal;
  font-size: 11px;
  background-color: var(--black);
  border-radius: 0 0 4px 0;
  justify-content: left;
}

.category p {
  text-transform: uppercase;
  margin-left: 5px;
}

.subMinor {
  height: 100%;
  /* border-bottom: 1px solid black; */
}

.subMinor h1 {
  font-size: 1rem;
  margin: 2% 0;
}

.subMinor p {
  font-weight: 300;
  text-transform: uppercase;
}

.button {
  justify-content: right;
}

.footer {
  height: 4rem;
  background-color: var(--black);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.footerText {
  font-weight: 600;
  margin: 0 0 0 2rem;
}
.footerLinks {
  font-size: 12px;
  font-weight: 600;
  gap: 2rem;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
}
.footerLinks li {
  border-radius: 0 4px 0 0;

  padding: 0.5rem;
  height: 100%;
}
.footerLinks li:hover {
  transition: background-color 0.3s;
  background-color: white;
  color: var(--black);
}
